
/*---------- CSS RESET ----------*/

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 15px;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Open Sans;
    
}

body{
    overflow-x: hidden;
}
/*----- HEADINGS -----*/
h2{
    font-size: 35px;
    font-weight: bolder;
    margin:20px 0;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    color: white;
    line-height: 60px;
    margin-bottom:20px;
    margin-top: 20px;
}
h3{
    font-size: 18px;
    font-weight: bold;
}

/*----- PARAGRAPH -----*/
p{
    font-size: 11px;
}

/*---------- Navigation Bar Section ----------*/


#nav {
    background-color: #3F403F !important;
    padding: 0px 0px 0px 0px !important;
    border: none !important;
    width: auto !important;
    height: 200px;
}

#nav a {
    display: block;
    color: white;
    padding: 18px 0px;
    font-weight: 400;
    margin: 5px 0px !important;
}

/* Navigation Link Active or Hover */

#nav a:hover , nav .active {
    color: white;
    background-color: #9FB8AD;
}

.nav .nav-link {
   margin: 0px 0 0px 0px !important;
}

/*---------- Home Section ----------*/

#home {
    background-color: #153243 !important;
    margin-top: 10px;
}

#main {
    background-color: white !important;
}

section.home h1 {
    font-size: 3em !important;
    margin-top: -50px;
}

section.home p {
    font-size: 1.5rem !important;
    margin-top: 80px;
    color: white;
}

/*---------- About Section ----------*/

section#about h2 {
    font-size: 2em !important;
    margin-top: -80px;
    }

 #about{
    margin-top: 10px;
    background-color: #153243 !important;
    padding: 100px 5px !important;
    }

.about-image {
    width: 150px !important;
    height: 150px;
    }

.about p  {
    padding: 10px;
    font-size: 1rem;
}

/*---------- Contact Section ----------*/

#contact {
    padding: 10px 0px !important;
    background-color: #C1666B !important;
    margin-top: 10px;
}

#contact h2 {
    color: white;
}


#contact p {
    padding-bottom: 10px;
    font-size: 1rem;
    color: white;
    padding-left: 20px;
}

.contact-form {
    border: 2px solid black;
    width: auto !important;
    background-color: #9FB8AD !important ;
    margin-bottom: -10px !important;
}

.contact-form-input {
    border-radius: 4px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
}

button[type=submit] {
    margin: .5rem auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #d4e9e7;
}

footer {
    padding: 1.5rem 1.5rem 1.5rem 1rem;
}

footer p {
    text-align: center;
}

@media (min-width: 760px){
    /*----- Universal -----*/

#main {        
    max-width: 1200px;
    margin: 0px auto;
}

/*----- Navigation Bar Section -----*/

#nav {
    padding: 10px 0px;
    height: 100px;
}

#nav a {
    display: inline-block;
    width: 300px;
    margin: 20px 0px !important;
}

/*---------- About Section ----------*/

.about-image {
    margin-left: 20px;
}

.about  p {
    font-size: 1.50rem !important;
}

.about h2 {
    margin-bottom: 50px;
}

/*---------- Contact Section ----------*/

.contact-form {
    width: 900px !important;
    margin-bottom: 5px !important;
}
}